/* All styles for your Card Components live here */
 
.card-container {

    width: 700px;
    padding: 08px;
   

}

.card-container a:hover,
a:visited,
a:link,
a:active {
        
 
    text-decoration: none;

}


.card-banner {
margin-top:-1px;
margin-left: 125px;
width: 560px;
height: auto;
    
}

.react {
font-size: 18px;
margin-left: 150px;
line-height: 1.0;
color:black;

    
}
.sentenceal {
margin-left: 150px;
line-height: 1.0;
color:black;


}

.reactorg {
    margin-left: 150px;
    color: grey;   
    
}
