
.footer-container {

width: 700px;
padding: 08px;

}

.footer-emotes {
margin-left: 120px;

}

.footer-emotes .refresh {
margin-left: 70px;
color:rgb(101, 119, 134);
}

.footer-emotes .heart {
margin-left: 70px;
color:rgb(211, 10, 10);
}

.footer-emotes .mail {
margin-left: 70px;
color:rgb(101, 119, 134);

}
