
.footer-container {

width: 700px;
padding: 08px;

}

.footer-emotes {
margin-left: 120px;

}

.footer-emotes .refresh {
margin-left: 70px;
}

.footer-emotes .heart {
margin-left: 70px;

}

.footer-emotes .mail {
margin-left: 70px;

}
